<section class="gallery wide_four_item_gallery section" id="gallery" data-uk-scrollspy="{cls:'uk-active'}">
    <h3 class="uk-h3 uk-text-center animated section_title gallery_title">Our best projects</h3>
    <h4 class="uk-h4 uk-text-center uk-margin-large-bottom animated section_subtitle">We develop innovations that are changing the world</h4>
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
            <a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="/src/image.ibb.co/jEWiFw/gallery_7.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
                <div class="uk-position-cover gallery_overlay">
                    <div class="uk-text-center gallery_table">
                        <div class="uk-text-center gallery_cell">
                            <div class="uk-text-center gallery_container">
                                <h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
                                <div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
            <a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="/src/image.ibb.co/kogThb/gallery_10.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
                <div class="uk-position-cover gallery_overlay">
                    <div class="uk-text-center gallery_table">
                        <div class="uk-text-center gallery_cell">
                            <div class="uk-text-center gallery_container">
                                <h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
                                <div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
            <a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="/src/image.ibb.co/gQXqvw/gallery_8.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
                <div class="uk-position-cover gallery_overlay">
                    <div class="uk-text-center gallery_table">
                        <div class="uk-text-center gallery_cell">
                            <div class="uk-text-center gallery_container">
                                <h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
                                <div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
            <a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="/src/image.ibb.co/goiKoG/gallery_9.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
                <div class="uk-position-cover gallery_overlay">
                    <div class="uk-text-center gallery_table">
                        <div class="uk-text-center gallery_cell">
                            <div class="uk-text-center gallery_container">
                                <h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
                                <div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
            <a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="/src/image.ibb.co/bMRThb/gallery_3.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
                <div class="uk-position-cover gallery_overlay">
                    <div class="uk-text-center gallery_table">
                        <div class="uk-text-center gallery_cell">
                            <div class="uk-text-center gallery_container">
                                <h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
                                <div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
            <a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="/src/image.ibb.co/nOn12b/gallery_11.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
                <div class="uk-position-cover gallery_overlay">
                    <div class="uk-text-center gallery_table">
                        <div class="uk-text-center gallery_cell">
                            <div class="uk-text-center gallery_container">
                                <h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
                                <div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
            <a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="/src/image.ibb.co/nANeoG/gallery_5.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
                <div class="uk-position-cover gallery_overlay">
                    <div class="uk-text-center gallery_table">
                        <div class="uk-text-center gallery_cell">
                            <div class="uk-text-center gallery_container">
                                <h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
                                <div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
            <a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="/src/image.ibb.co/da23Fw/page_3.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
                <div class="uk-position-cover gallery_overlay">
                    <div class="uk-text-center gallery_table">
                        <div class="uk-text-center gallery_cell">
                            <div class="uk-text-center gallery_container">
                                <h4 class="uk-h4 uk-text-contrast gallery_caption">Title</h4>
                                <div class="uk-text-contrast gallery_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit ametlorem</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</section>