<section class="features grey_overlay section">
    <div class="uk-container uk-container-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}"></div>
    <h3 class="uk-h3 uk-text-center uk-text-contrast animated section_title features_title">We offer</h3>
    <h4 class="uk-h4 uk-text-contrast uk-text-center uk-margin-large-bottom animated section_subtitle">Take your website to the next level</h4>
    <div class="uk-grid uk-grid-large">
        <div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
            <div class="uk-grid uk-grid-collapse features_block">
                <div class="uk-width-1-1 uk-margin-bottom uk-text-center">
                    <div class="uk-icon-html5 features_logo"></div>
                </div>
                <div class="uk-width-1-1">
                    <h4 class="uk-h4 uk-text-contrast features_caption">Web development</h4>
                    <p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
                </div>
            </div>
        </div>
        <div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
            <div class="uk-grid uk-grid-collapse features_block">
                <div class="uk-width-1-1 uk-margin-bottom uk-text-center">
                    <div class="uk-icon-signal features_logo"></div>
                </div>
                <div class="uk-width-1-1">
                    <h4 class="uk-h4 uk-text-contrast features_caption">Digital Marketing</h4>
                    <p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
                </div>
            </div>
        </div>
        <div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
            <div class="uk-grid uk-grid-collapse features_block">
                <div class="uk-width-1-1 uk-margin-bottom uk-text-center">
                    <div class="uk-icon-picture-o features_logo"></div>
                </div>
                <div class="uk-width-1-1">
                    <h4 class="uk-h4 uk-text-contrast features_caption">Responsive design</h4>
                    <p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
                </div>
            </div>
        </div>
        <div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
            <div class="uk-grid uk-grid-collapse features_block">
                <div class="uk-width-1-1 uk-margin-bottom uk-text-center">
                    <div class="uk-icon-trophy features_logo"></div>
                </div>
                <div class="uk-width-1-1">
                    <h4 class="uk-h4 uk-text-contrast features_caption">Product Branding</h4>
                    <p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
                </div>
            </div>
        </div>
        <div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
            <div class="uk-grid uk-grid-collapse features_block">
                <div class="uk-width-1-1 uk-margin-bottom uk-text-center">
                    <div class="uk-icon-search features_logo"></div>
                </div>
                <div class="uk-width-1-1">
                    <h4 class="uk-h4 uk-text-contrast features_caption">Search engine optimization</h4>
                    <p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
                </div>
            </div>
        </div>
        <div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
            <div class="uk-grid uk-grid-collapse features_block">
                <div class="uk-width-1-1 uk-margin-bottom uk-text-center">
                    <div class="uk-icon-lightbulb-o features_logo"></div>
                </div>
                <div class="uk-width-1-1">
                    <h4 class="uk-h4 uk-text-contrast features_caption">Innovative technologies</h4>
                    <p class="uk-text-contrast features_text">Pro in a velit aliquam vitae males uada rutrum. Aenean ullam corper placerat porttitor velit aliquam vitae. Aliquam a augue suscipit, bibendum</p>
                </div>
            </div>
        </div>
    </div>

</section>

<router-outlet></router-outlet>