<!-- <section class="price section">
    <div class="uk-container uk-container-center uk-text-center price_container" data-uk-scrollspy="{cls:'uk-active'}">
        <h3 class="uk-h3 uk-text-center animated section_title price_title">Pricing plan</h3>
        <h4 class="uk-h4 uk-margin-large-bottom uk-text-center animated section_subtitle">Let our professional design team create a beautiful website just for you</h4>
        <div class="uk-grid">
            <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                <div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
                    <div class="price_header">
                        <h4 class="uk-h4 price_block_title">Basic</h4>
                        <p class="price_block_cost">$10</p>
                    </div>
                    <div class="price_block_text">1 Design Version</div>
                    <div class="price_block_text">Free Update</div>
                    <div class="price_block_text">3 Subdomains</div>
                    <div class="price_block_text">1GB Disk Space</div>
                    <div class="price_block_text">Mail Support</div>
                    <div class="price_block_footer">
                        <a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                <div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
                    <div class="price_header">
                        <h4 class="uk-h4 price_block_title">Standard</h4>
                        <p class="price_block_cost">$20</p>
                    </div>
                    <div class="price_block_text">2 Design Versions</div>
                    <div class="price_block_text">Free Update</div>
                    <div class="price_block_text">3 Subdomains</div>
                    <div class="price_block_text">5GB Disk Space</div>
                    <div class="price_block_text">Mail Support</div>
                    <div class="price_block_footer">
                        <a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                <div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom best_price price_block">
                    <div class="price_header">
                        <h4 class="uk-h4 price_block_title">Premium</h4>
                        <p class="price_block_cost">$50</p>
                    </div>
                    <div class="price_block_text">5 Design Versions</div>
                    <div class="price_block_text">Free Update</div>
                    <div class="price_block_text">3 Subdomains</div>
                    <div class="price_block_text">10GB Disk Space</div>
                    <div class="price_block_text">Phone & Mail Support</div>
                    <div class="price_block_footer">
                        <a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                <div class="uk-position-relative uk-overflow-hidden uk-margin-large-bottom price_block">
                    <div class="price_header">
                        <h4 class="uk-h4 price_block_title">Extra</h4>
                        <p class="price_block_cost">$100</p>
                    </div>
                    <div class="price_block_text">10 Design Versions</div>
                    <div class="price_block_text">Free Update</div>
                    <div class="price_block_text">3 Subdomains</div>
                    <div class="price_block_text">25GB Disk Space</div>
                    <div class="price_block_text">Phone & Mail Support</div>
                    <div class="price_block_footer">
                        <a class="uk-button uk-border-rounded uk-button-large" href="#">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="subscribe dark_overlay section" id="pricing">

    <div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
        <h3 class="uk-h3 uk-text-contrast animated section_title subscribe_title">Subscribe to get latest news</h3>
        <h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">Stay up to date with all modern trends in web design and development</h4>

        <form data-ng-submit="mailchimpForm" class="uk-form animated form_sign_in" autocomplete="off">
            <div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-2-3 uk-width-large-1-2 uk-margin-bottom">
                <div class="uk-width-small-3-4 uk-margin-bottom">
                    <input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email" placeholder="Enter your e-mail">
                </div>
                <div class="uk-width-small-1-4 uk-margin-bottom">
                    <button class="uk-width-1-1 uk-button button_custom_green form_button" type="submit">Subscribe</button>
                </div>
            </div>

            <div class="success">E-mail has been added successfully.</div>
            <div class="success_response"></div>

            <div class="error">E-mail must be valid and message must be longer than 1 character.</div>
            <div class="error_response"></div>
        </form>
    </div>
</section>