<!--The content below is only a placeholder and can be replaced.-->

<router-outlet></router-outlet>

<!-- 

<app-features></app-features>
<app-offers></app-offers>
<app-pricing></app-pricing>
<app-clients></app-clients>
<app-facts></app-facts>
<app-projects></app-projects>
<app-team></app-team>
<app-customers></app-customers>
<app-contacts></app-contacts>
<router-outlet></router-outlet> -->

<!-- <app-features></app-features>
<app-pricing></app-pricing>
<app-facts></app-facts>
<app-projects></app-projects>
<app-team></app-team>
<app-contacts></app-contacts> -->