<section class="statistic dark_overlay section" id="statistic">
    <div class="uk-container uk-container-center uk-text-contrast uk-position-relative uk-text-center" data-uk-scrollspy="{cls:'select uk-active'}">
        <h3 class="uk-h3 uk-text-contrast animated section_title statistic_title">Some facts about us</h3>
        <h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">You will have a successful project that will deliver quality results for your business</h4>
        <div class="statistic_wrapper">
            <div class="uk-grid uk-grid-large">
                <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                    <div class="uk-margin-large-bottom statistic_block">
                        <div class="statistic_caption">
                            <span class="statistic_counter" id="statistic_counter_1">0</span>
                        </div>
                        <div class="statistic_text">Projects</div>
                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                    <div class="uk-margin-large-bottom statistic_block">
                        <div class="statistic_caption">
                            <span class="statistic_counter" id="statistic_counter_2">0</span>
                        </div>
                        <div class="statistic_text">Clients</div>
                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                    <div class="uk-margin-large-bottom statistic_block">
                        <div class="statistic_caption">
                            <span class="statistic_counter" id="statistic_counter_3">0</span>
                        </div>
                        <div class="statistic_text">Hours spent</div>
                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                    <div class="uk-margin-large-bottom statistic_block">
                        <div class="statistic_caption">
                            <span class="statistic_counter" id="statistic_counter_4">0</span>
                        </div>
                        <div class="statistic_text">Followers</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</section>