<section class="elements section" id="elements" data-uk-scrollspy="{cls:'uk-active'}">
    <div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
        <h3 class="uk-h3 uk-margin-bottom animated section_title elements_title">Great features</h3>
        <h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">It's time to build great ideas and make some big decisions</h4>
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                <div class="uk-margin-large-bottom elements_item">
                    <div class="uk-icon-thumbs-o-up uk-border-circle elements_item_label"></div>
                    <h4 class="uk-h4 elements_item_text">Price</h4>
                    <p class="elements_item_desc">The obligations deriving from such a product are aimed at guaranteeing that all - absolutely everyone - have access to quality products at an affordable price.</p>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                <div class="uk-margin-large-bottom elements_item">
                    <div class="uk-icon-line-chart uk-border-circle elements_item_label"></div>
                    <h4 class="uk-h4 elements_item_text">High quality</h4>
                    <p class="elements_item_desc">Get the best out of a well desveloped technology, with standard quality.</p>
                </div>
            </div>
            <router-outlet></router-outlet>
            <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                <div class="uk-margin-large-bottom elements_item">
                    <div class="uk-icon-bar-chart-o uk-border-circle elements_item_label"></div>
                    <h4 class="uk-h4 elements_item_text">Advanced analytics</h4>
                    <p class="elements_item_desc">Beyond reorienting the existing business models, we use analytics to create and capitalize on new opportunities, alsoas value-added services. </p>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-small-1-2 animated">
                <div class="uk-margin-large-bottom elements_item">
                    <div class="uk-icon-clock-o uk-border-circle elements_item_label"></div>
                    <h4 class="uk-h4 elements_item_text">24/7 Support</h4>
                    <p class="elements_item_desc">Providing support around the clock. Always at your service.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
<section class="description section">
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
            <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                <h3 class="uk-h3 uk-margin-large-bottom animated description_title">Web Portals and Enterprise Applications Development</h3>
                <p class="animated description_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet
                    soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p>
            </div>
        </div>
        <div class="uk-width-large-1-2 description_image" data-image="/src/image.ibb.co/jQXg2b/page_2.jpg"></div>
    </div>
</section>

<section class="description description_secondary section">
    <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-large-1-2 description_image" data-image="/src/image.ibb.co/da23Fw/page_3.jpg"></div>
        <div class="uk-width-large-1-2 uk-flex uk-flex-middle">
            <div class="uk-container description_block" data-uk-scrollspy="{cls:'uk-active'}">
                <h3 class="uk-h3 uk-margin-large-bottom animated description_title">The best start for your business idea</h3>
                <p class="animated description_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet
                    soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p>
            </div>
        </div>
    </div>
</section> -->