<section class="team section" id="team">
    <div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
        <h3 class="uk-h3 animated section_title team_title">Our team</h3>
        <h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">We have a fantastic team of developers and engineers that are ready to help you</h4>
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
                <div class="uk-position-relative uk-margin-large-bottom team_block">
                    <div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
                        <img class="team_image" src="../../../../image.ibb.co/nnAUNb/person_4.jpg" alt="">
                    </div>
                    <h4 class="uk-h4 uk-margin-small-bottom team_name">James Smith</h4>
                    <div class="uk-margin-bottom team_position">Founder & CEO</div>
                    <div class="uk-margin-bottom team_description">Lorem ipsum dolor sit amet, consectetur ducimus</div>
                    <ul class="uk-list social_list">
                        <li class="social_list_item">
                            <a class="uk-icon-facebook social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-twitter social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-google-plus social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-linkedin social_list_item_link" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
                <div class="uk-position-relative uk-margin-large-bottom team_block">
                    <div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
                        <img class="team_image" src="/src/image.ibb.co/eF0PoG/person_1.jpg" alt="">
                    </div>
                    <h4 class="uk-h4 uk-margin-small-bottom team_name">Elizabeth Johnson</h4>
                    <div class="uk-margin-bottom team_position">Creative director</div>
                    <div class="uk-margin-bottom team_description">Lorem ipsum dolor sit amet, consectetur ducimus</div>
                    <ul class="uk-list social_list">
                        <li class="social_list_item">
                            <a class="uk-icon-facebook social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-youtube social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-skype social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-linkedin social_list_item_link" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
                <div class="uk-position-relative uk-margin-large-bottom team_block">
                    <div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
                        <img class="team_image" src="/src/image.ibb.co/bBNthb/person_3.jpg" alt="">
                    </div>
                    <h4 class="uk-h4 uk-margin-small-bottom team_name">Robert Williams</h4>
                    <div class="uk-margin-bottom team_position">Web developer</div>
                    <div class="uk-margin-bottom team_description">Lorem ipsum dolor sit amet, consectetur ducimus</div>
                    <ul class="uk-list social_list">
                        <li class="social_list_item">
                            <a class="uk-icon-facebook social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-twitter social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-pinterest social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-linkedin social_list_item_link" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
                <div class="uk-position-relative uk-margin-large-bottom team_block">
                    <div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
                        <img class="team_image" src="/src/image.ibb.co/jcaqTG/person_2.jpg" alt="">
                    </div>
                    <h4 class="uk-h4 uk-margin-small-bottom team_name">Jennifer Jones</h4>
                    <div class="uk-margin-bottom team_position">Web designer</div>
                    <div class="uk-margin-bottom team_description">Lorem ipsum dolor sit amet, consectetur ducimus</div>
                    <ul class="uk-list social_list">
                        <li class="social_list_item">
                            <a class="uk-icon-facebook social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-behance social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-instagram social_list_item_link" href="#"></a>
                        </li>
                        <li class="social_list_item">
                            <a class="uk-icon-linkedin social_list_item_link" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</section>

<section class="video_preview grey_overlay section">
    <div class="uk-container uk-container-center uk-text-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
        <h3 class="uk-h3 uk-text-contrast animated section_title team_title">Video presentation</h3>
        <h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">We offer a wide range of business services including data analysis and reporting</h4>
        <a class="uk-border-circle uk-icon-play animated video_button" href="https://www.youtube.com/embed/m_lOQe2y4ug?ecver=2" data-uk-lightbox="{group:'group1'}" data-lightbox-type="iframe"></a>
    </div>
</section>